body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: left;
}
*, *::before, *::after {
    box-sizing: border-box;
}
h1, a{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
}
h1 {
    font-size: 1.7em;
}
p {
    color: hsl(243, 87%, 12%);
}
button {
    color: white;
    background: #3065f9;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
nav div a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;   
    margin-right: 2.5em;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 5em;
}
.logo-top {
    max-width: 126px;
}
.main-1 {
    display: flex;
}
.main-1 div {
    margin-top: 1em;
    margin-left: 2.5em;
}
 button {
    margin-left: 1em;
    width: 14.7em;
    height: 3.4em;
    /* padding: 0.9em 4.6em 0.9em 4.6em */
}
.main-1 div input {
    width: 21em;
    height: 3.3em;
}
.main-1 img  {
    position: relative;
    bottom: 2em;
    margin-right: 2em;
    max-width: 500px;
    max-height: 500px;
}
.main-1 > div > p, .main-2 > div > p {
    margin-right: 9em;
    font-size: .9em;
}
.main-2 p {
    max-width: 30em;
}
.main-2 {
    display: flex;
    background-color: #f9f8fe;
    padding-top: 6em;
    padding-bottom: 5em;
    border-top-left-radius: 60em 3.5em;
    border-top-right-radius: 60em 3.5em;
    margin-top: 100px;

}
.main-2 > div {
    margin-left: 2.5em;
}
.main-2 > img {
    max-width: 500px;
    max-height: 500px;
    margin-left: 1em;
    margin-top: 2em;
}
.main-2 a {
    color: #3c9e8d;
    text-decoration: none;
    border-bottom: solid 1px #3c9e8d;
    padding-bottom: 4px;
}
.arrow-image {
    position: relative;
    top: 4px;
}
.quote-box {
    background-color: white;
    max-width: 16em;
    border-radius: .5em;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.1);
}
.quote-box > div {
    margin-top: 15px;
    padding: 15px;
}
.quote-box p {
    font-size: 10px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    top: 2.5px;
    display: inline-block;
}
.testimonial {
    display: inline-block;
}
.testimonial > h6 {
    margin: 0;
    color:  hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
}
.testimonial > p {
    font-size: 9px;
    margin: 0;
}
.main-3 {
    background-color: #575989;
    color: white;
    display: flex;
    padding: 2em;
}
.main-3 > div > p {
    max-width: 30em;
    color: white;
    font-size: .9em;
}
.bottom-email {
    text-align: center;
    align-self: center;
    margin: auto;
}
.main-3 > div > input {
    width: 30em;
    height: 3.4em;
    margin-bottom: 14px;
}
.main-3 > div > button {
    margin-left: 0;
    
    display: block;
}
.bottom-info {
    background-color: #07043b;
    color: white;
    min-height: 17em;
    
}
.info-container{
    display: flex;
    margin-top: 60px;
}
.bottom-logo{
    filter: brightness(0) invert(1);
    position: relative;
    top: 4em;
    left: 2.5em;
}

.bottom-info ul {
    list-style: none;
    font-size: .8em;
}
.info-container ul li {
    
    margin-bottom: 8px;
}
.info-container ul {
    margin-right: 12em
}
.bottom-icons {
    width: 1em;
}
@media screen and (max-width: 740px) {
    
    nav div a {
        margin-right: 1em;
    }
    .logo-top {
        max-width: 80px;
    }
    .main-1, .main-2 {
        flex-direction: column-reverse;
    }
    .main-3 {
        flex-direction: column;
        text-align: center;
    }
    .info-container {
        flex-direction: column;
    }
    .main-1 img, .main-2 img {
        max-width: 325px;
        left: 2em;
    }
    .main-1 div {
        margin: 0;
        text-align: center;
    }
    .main-1 > div > p {
        margin-right: 0;
        margin: 2em;
    }
    .main-1 > div > input, .main-1 > div > button {
        margin: 0;
        width: 25em;
    }
    .main-2 > div > h1 {
        font-size: 1em;
        text-align: center;
    }
    .main-2 > div > p, .main-2 > div {
        margin-left: 0;
        margin-right: 0;
    }
    .main-2 > div {
        margin-left: 1em;
        margin-right: 1em;
    }
    .main-2 a {
        margin-left: 8em;
        font-size: .8em;
    }
    .main-2 img {
        left: .2em;
    }
    .main-2 .quote-box {
        margin-left: 2.4em;
    }
    .main-3 input {
        max-width: 22.7em;
    }
    .main-3 button {
        width: 22.7em
    }
}